html, body {
  width: 100vw;
  height: 100vh;
}
  
.first-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  width: 65vw;
  height: 100vh;
  margin-top: 3vh;
  margin-right: 17.5vw;
  margin-bottom: 3vh;
  margin-left: 17.5vw;
}

@media (max-width: 1025px) {
  .first-page { width: 100vw; height: 100vh; margin: 0 }
}

.first-page--first-line {
  width: 99%;
  height: calc(93% / 3);
  z-index: -2;
  animation: heartbeat 5s ease-in-out infinite both
}

.first-page--second-line {
  width: 99%;
  height: calc(93% / 3);
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;;
  z-index: -2;
  animation: heartbeat 5s ease-in-out infinite both
}

.first-page--third-line {
  width: 99%;
  height: calc(93% / 3);
  margin-left: -0.5vw;
  z-index: -2;
  animation: heartbeat 5s ease-in-out infinite both
}

@keyframes heartbeat {from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.95);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.91);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}

.first-page--wc-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 99vh;
}

@media (max-width: 1024px) and (max-height: 1366px)  {
  .first-page--wc-logo {
    width: 43vw;
  }
}

@media (max-width: 390px) and (max-height: 844px)  {
  .first-page--wc-logo {
    width: 47vw;
  }
}

.first-page--wc-legend{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47vw;
  height: 25vh;
  margin-top: -23vh;
  filter: drop-shadow(5px 3px 1px black);
  z-index: 0;
}

@media (max-width: 1024px) and (max-height: 1366px)  {
  .first-page--wc-legend {
    width: 70vw;
  }
}

@media (max-width: 390px) and (max-height: 844px)  {
  .first-page--wc-legend {
    width: 75vw;
  }
}

.first-page--login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11vw;
  height: 5vh;
  border-radius: 1.2vw;
  border-color: black;
  background-color: white;
  font-size: calc(1vw + 11px);
  font-weight: bolder;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1024px) and (max-height: 1366px)  {
  .first-page--login {
    width: 19vw;
    border-radius: 2vw;
    font-size: calc(2.3vw + 11px);
  }
}

@media (max-width: 390px) and (max-height: 844px)  {
  .first-page--login {
    width: 21vw;
    border-radius: 3.5vw;
    font-size: calc(1.8vw + 11px);
  }
}

.first-page--sign-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11vw;
  height: 5vh;
  margin-top: 15vh;
  border-radius: 1.2vw;
  border-color: black;
  background-color: white;
  font-size: calc(1vw + 11px);
  font-weight: bolder;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1024px) and (max-height: 1366px)  {
  .first-page--sign-up {
    width: 19vw;
    border-radius: 2vw;
    font-size: calc(2.2vw + 11px);
  }
}

@media (max-width: 390px) and (max-height: 844px)  {
  .first-page--sign-up {
    width: 21vw;
    border-radius: 3.5vw;
    font-size: calc(1.7vw + 11px);
  }
}